// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  default: #64748b,
  info: #89dceb,
  success: #a6e3a1,
  warning: #fab387,
  danger: #f38ba8,

  note: #89b4fa,
  tip: #a6e3a1,
  important: #cba6f7,
  caution: #eba0ac,
) !default;

// Themes
@mixin theme-light {
  --gray-100: #ccd0da;
  --gray-200: #acb0be;
  --gray-500: #8c8fa1;

  --color-link: #1e66f5;
  --color-visited-link: #8839ef;

  --body-background: #dce0e8;
  --body-font-color: #4c4f69;

  --icon-filter: none;
}

@mixin theme-dark {
  --gray-100: #11111b;
  --gray-200: #181825;
  --gray-500: #1e1e2e;

  --color-link: #74c7ec;
  --color-visited-link: #cba6f7;

  --body-background: #313244;
  --body-font-color: #cdd6f4;

  --icon-filter: brightness(0) invert(1);
}
